@charset "utf-8";

.page_top {
  position: fixed;
  bottom: -70px;
  right: 0.35em;
  z-index: 10;
  width: 3.5em;
  height: 3.5em;
  cursor: pointer;
  background-color: #FFFFFF;
  border-radius: 100%;
  padding: 0.4em;
}

html,
body {
  margin: 0;
  padding: 0;
}

#home p {
  font-family: "M PLUS 1p";
  letter-spacing: 0.1em;

  text-align: left;
  line-height: 1.2em;
  height: auto;
  clear: both;
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: 800;

  margin: 0 0 0 12px;
  padding: 20px 0 10px;

  transform: rotate(0.05deg);
}

#home p a {
  color: #333;
}

#home p a {
  text-decoration: none;
}
#home p .title {
  text-decoration: underline;
}
#home p .tagline {
  text-decoration: none;
  font-size: 0.66em;
  line-height: 0.8em;
  vertical-align: top;
}

#title {
  padding: 24px 0;
}

h1 {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 3.5em;
  text-align: center;
  font-weight: normal;
  transform: scale(0.8, 1.2);
  line-height: 1.0em;
}

nav#breadcrumb {
  max-width: 960px;
  margin: auto;
  padding: 1em;
  font-size: 1.001em;
  font-family: "M PLUS 1p";
}
nav#breadcrumb ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 0.8em;
}
nav#breadcrumb ol li {
  display: flex;
  align-items: center;
}
nav#breadcrumb ol li:not(:last-child)::after  {
  content: " > ";
  margin: 0 0.5rem 0.2rem;
  color: #888;
}
nav#breadcrumb ol li a {
  text-decoration: none;
  color: #000;
}
nav#breadcrumb ol li a img {
  width: 1.1em;
  margin-top: 0.2rem;
}

#keyvisual {
  display: block;
  margin: 0 auto;
  max-Width: 480px;
  width: 100%;
}

#agenda,
#lead,
#scenes,
#data,
#see-also {
  font-family: "WDXL Lubrifont JP N", sans-serif;
  margin: 3vmin auto 1vmin auto;
  padding: 1em;
  text-align: center;
  line-height: 1em;
}

#agenda{
  margin-bottom: 0;
}

#lead {
  color: #FFF;
  background-color: #000;
}

#data {
  color: #000;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 3em;
}

#agenda h2,
#lead h2,
#scenes h2,
#data h2,
#review h2,
#see-also h2 {
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: normal;
  line-height: 0.8em;
}

#lead h2 img,
#scenes h2 img,
#data h2 img,
#review h2 img,
#see-also h2 img{
  width: 1.8em;
}

#lead h2 img{
  filter: invert(92%) sepia(91%) saturate(40%) hue-rotate(218deg) brightness(108%) contrast(100%);
}

#lead p,
#data p {
  font-size: 2em;
  line-height: 1.4em;
  max-width: 960px;
  margin: auto;
  margin-bottom: 0.8em;
}

#scenes #play{
  font-size: 2em;
}

#data div{
  max-width: 960px;
  margin: auto;
}

#data p {
  display: inline-block;
  margin: auto 1em;
}

#agenda ul {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  max-width: 960px;
}

#agenda li {
  grid-column: span 2;
  text-align: center;
  font-size: 2em;
  line-height: 0.8em;
  margin-bottom: 0.8em;
}

/* 3列レイアウトで最後の行が2要素のときだけ中央寄せ */
#agenda li:nth-last-child(2):nth-child(3n+1) {
  grid-column: 2 / span 2;
}

#agenda li:last-child:nth-child(3n+2) {
  grid-column: 4 / span 2;
}

#scenes #play a:link,
#agenda li a:link {
  color: #000;
  text-decoration: underline;
}

#scenes #play a:hover,
#scenes #play a:visited,
#agenda li a:hover,
#agenda li a:visited {
  color: #000;
  text-decoration: none;
}

#agenda li a img{
  width: 1.4em;
  padding: 0;
}

.link a,
#data a {
  color: #000;
}

.link a:checked,
#data a:checked {
  color: #000 !important;
}

.link a:hover,
#data a:hover {
  text-decoration: none;
}

#footer {
  margin-top: 3vmin !important;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
