<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap" rel="stylesheet">
  <!-- Dela Gothic One を見出しの文字のみに限定して読み込む -->
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap&subset=japanese" rel="stylesheet">

{% if isLocal %}
  {# ローカル保存用：インライン化 #}
  <style>
      {% include "css/base.css" %}
      {% include "css/footer.css" %}
      {% include "css/navigation.css" %}
      {% include "css/backtotop.css" %}
  </style>
{% else %}
  {# 開発・Web公開用：外部ファイル #}
  <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/footer.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/navigation.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/backtotop.css' | url }}">
{% endif %}

</head>

<body>
  <header>
    <!-- <div id="home">
      <h1><a href="{{ ('/') | relative(page) }}"><span class="title">HEROINE PINK</span><br>
          <span class="tagline">対ヒロイン研究分析機関</span></a></h1>
    </div> -->

    <div id="home">
        <h1><a href="{{ ('/') | relative(page) }}"><span class="title">TANITA</span><br>
          <span class="tagline">対応機器一覧</span></a></h1>
    </div>

    {% include "navigation.njk" %}
    
  </header>

  

  <main>
    {{ content | safe }}
  </main>

  {% include "backtotop.njk" %}

  <footer id="footer" class="base" style="background: #000">
    <ul>
      <li><a href="{{ ('/about/') | relative(page) }}">ABOUT US</a></li>
      <li><a href="{{ ('/privacy/') | relative(page) }}">PRIVACY POLICY</a></li>
    </ul>
    <p><a href="{{ ('/') | relative(page) }}">&copy; HROINE PINK 2025</a></p>
  </footer>

{% if isLocal %}
  {# ローカル保存用：インライン化 #}
  <script>
      {% include "js/navigation.js" %}
      {% include "js/backtotop.js" %}
      {% include "js/smooth-scroll.js" %}
  </script>
{% else %}
  {# 開発・Web公開用：外部ファイル #}
  <script src="{{ '/js/navigation.js' | url }}"></script>
  <script src="{{ '/js/backtotop.js' | url }}"></script>
  <script src="{{ '/js/smooth-scroll.js' | url }}"></script>
{% endif %}



</body>

</html>