<!doctype html>
<html lang="ja">

<head>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K6Z3BQSF');</script>
  <!-- End Google Tag Manager -->

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml">
  <title>{{ title }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap" rel="stylesheet">
  <!-- Dela Gothic One を見出しの文字のみに限定して読み込む -->
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap&subset=japanese" rel="stylesheet">

{% if isLocal %}
  {# ローカル保存用：インライン化 #}
  <style>
      {% include "css/base.css" %}
      {% include "css/footer.css" %}
      {% include "css/navigation.css" %}
      {% include "css/backtotop.css" %}
  </style>
{% else %}
  {# 開発・Web公開用：外部ファイル #}
  <link rel="stylesheet" href="{{ '/css/base.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/footer.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/navigation.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/backtotop.css' | url }}">
{% endif %}

</head>

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K6Z3BQSF"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header>
    <div id="home">
      <h1><a href="{{ ('/') | relative(page) }}">

      <img src="{{ ('/images/logo.svg') | relative(page) }}" alt="" style="height:1.8em; float:left; margin-right:0.12em; filter: invert(1) brightness(0.2);" />
      
      <span class="title">HEROINE PINK</span><br>
          <span class="tagline">対ヒロイン研究分析機関</span></a></h1>
    </div>

    <!-- <div id="home">
        <h1><a href="{{ ('/') | relative(page) }}"><span class="title">TANITA</span><br>
          <span class="tagline">対応機器一覧</span></a></h1>
    </div> -->

    {% include "navigation.njk" %}
    
  </header>

  

  <main>
    {{ content | safe }}
  </main>

  {% include "backtotop.njk" %}


  {% include "cookie-banner-style.njk" %}
  {% include "cookie-banner.njk" %}
  <footer id="footer" class="base" style="background: #000">
    <ul>
      <li><a href="{{ ('/about/') | relative(page) }}">ABOUT US</a></li>
      <li><a href="{{ ('/privacy/') | relative(page) }}">PRIVACY POLICY</a></li>
    </ul>
    <p><a href="{{ ('/') | relative(page) }}">&copy; HROINE PINK <span id="current-year">2025</span></a></p>
  </footer>

{% if isLocal %}
  {# ローカル保存用：インライン化 #}
  <script>
      {% include "js/navigation.js" %}
      {% include "js/footer.js" %}
      {% include "js/backtotop.js" %}
      {% include "js/smooth-scroll.js" %}
      {% include "js/cookie-banner.js" %}
  </script>
{% else %}
  {# 開発・Web公開用：外部ファイル #}
  <script src="{{ '/js/navigation.js' | url }}"></script>
  <script src="{{ '/js/footer.js' | url }}"></script>
  <script src="{{ '/js/backtotop.js' | url }}"></script>
  <script src="{{ '/js/smooth-scroll.js' | url }}"></script>
  <script src="{{ '/js/cookie-banner.js' | url }}"></script>
{% endif %}



</body>

</html>