<div id="cookie-banner">
  <p><img src="../images/icon_x-mark.svg" alt="閉じる"></p>
  <p>当サイトではCookieを使用しています。<br />
    詳細は<a href="../privacy/index.html">プライバシーポリシー</a>をご覧ください。</p>
  <button id="accept-all">すべて許可</button>
  <button id="accept-necessary">必要なCookieのみ</button>
</div>
