<div class="site-header">

  <button class="nav-toggle" aria-label="Open Navigation">
    <img src="/images/icon_bars.svg">
  </button>

  <nav class="slide-nav">
    <ul>

      {% for genre in genresData %}
        <li>
          <a href="/genres/{{ genre.slug }}/">
            {{ genre.name }}
          </a>
        </li>
      {% endfor %}

    </ul>

    <ul id="common">

      <li><a href="/about/">ABOUT US</a></li>
      <li><a href="/privacy/">PRIVACY POLICY</a></li>

    </ul>
  </nav>

  <div class="nav-overlay"></div>

</div>
