<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }} {{actress}}｜魔法少女・セーラー・レンジャー・アメコミ・バトルスーツ・特撮ヒロイン作品紹介</title>

  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Review",
    "itemReviewed": {
      "@type": "Movie",
      "name": "{{ title }}",
      "image": "https://heroine.pink/{{ keyvisual }}",
      "dateCreated": "{{ release_date }}",
      "director": {
        "@type": "Person",
        "name": "{{ director }}"
      },
      "actor": [
        {% for actor in actress %}
          {
            "@type": "Person",
            "name": "{{ actor }}"
          }{% if not loop.last %},{% endif %}
        {% endfor %}
      ],
      "productionCompany": {
        "@type": "Organization",
        "name": "GIGA"
      },
      "duration": "PT{{duration}}M"
    },
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "{{ schema_rating }}",
      "bestRating": "5",
      "worstRating": "1"
    },
    "author": {
      "@type": "Organization",
      "name": "HEROINE PINK"
    },
    "publisher": {
      "@type": "Organization",
      "name": "HEROINE PINK"
    },
    "datePublished": "{{ date_published }}",
    "reviewBody": "{{ schema_review_body }}"
  }
</script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap" rel="stylesheet">
  <!-- Dela Gothic One を見出しの文字のみに限定して読み込む -->
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap&text={{ title }}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700&display=swap&subset=japanese" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Shippori+Antique&display=swap" rel="stylesheet">

  {% if isLocal %}
    {# ローカル保存用：インライン化 #}
    <style>
        {% include "css/style.css" %}
        {% include "css/scenes.css" %}
        {% include "css/review.css" %}
        {% include "css/footer.css" %}
        {% include "css/navigation.css" %}
        {% include "css/backtotop.css" %}
    </style>
  {% else %}
    {# 開発・Web公開用：外部ファイル #}
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/scenes.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/review.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/footer.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/navigation.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/backtotop.css' | url }}">
    
  {% endif %}

</head>

<body>
  <header>
    <!-- <div id="home">
      <p>
        <a href="{{ ('/') | relative(page) }}"><span class="title">HEROINE PINK</span><br>
          <span class="tagline">対ヒロイン研究分析機関</span></a>
      </p>
    </div> -->

    <div id="home">
      <p>
        <a href="{{ ('/') | relative(page) }}"><span class="title">TANITA</span><br>
          <span class="tagline">対応機器一覧</span></a>
      </p>
    </div>

    {% include "navigation.njk" %}
    
  </header>

  

  <main>
    <div id="title" style="background: {{keycolor}};">
      <h1>{{ title }}</h1>
    </div>

    <nav id="breadcrumb" aria-label="Breadcrumb">
      <ol>
        <li>
          <a href="{{ ('/') | relative(page) }}"><img alt="home" src="{{ ('/images/icon_home.svg') | relative(page) }}" /></a>
        </li>

        {% if genres %}
          {% set firstGenre = genres[0] %}

          {% set genreInfo = null %}
          {% for g in genresData %}
            {% if g.slug == firstGenre %}
              {% set genreInfo = g %}
            {% endif %}
          {% endfor %}

          {% if genreInfo %}
            <li>
              <a href="{{ ('/genres/{{ firstGenre }}/') | relative(page) }}">
                {{ genreInfo.name }}
              </a>
            </li>
          {% endif %}
        {% endif %}

        <li aria-current="page">
          <span>{{ title }}</span>
        </li>
      </ol>
    </nav>


    <!-- <img id="keyvisual" src="/{{ keyvisual }}"
      alt="{{ title }} {% for name in actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}主演 特撮ヒロイン作品 {{ release_date }}" /> -->
    <img id="keyvisual" 
     src="{{ keyvisual | relative(page) }}"
     alt="{{ title }} {% for name in actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}主演 特撮ヒロイン作品 {{ release_date }}" />

    <div id="agenda">
      <ul class="clearfix">
        <li><a href="#story"><img src="{{ ('/images/icon_story.svg') | relative(page) }}"><br />STORY</a></li>
        <li><a href="#scenes"><img src="{{ ('/images/icon_scenes.svg') | relative(page) }}"><br />SCENES</a></li>
        <li><a href="#data"><img src="{{ ('/images/icon_data.svg') | relative(page) }}"><br />DATA</a></li>
        <li><a href="#review"><img src="{{ ('/images/icon_review.svg') | relative(page) }}"><br />REVIEW</a></li>
      </ul>
    </div>

    <section id="story">
      <div id="lead">
        <h2><img src="{{ ('/images/icon_story.svg') | relative(page) }}"><br />STORY</h2>
        {{ story_lead | safe }}
      </div>
    </section>

    <section id="scenes">
      <h2><img src="{{ ('/images/icon_scenes.svg') | relative(page) }}"><br />SCENES</h2>

      <p id="play"><a href="#" id="play-sequential">連続再生</a></p>

      {% for scene in scenes %}
      {% set current_video_src = scene.video_src or default_video_src %}

      <div class="scenes-detail">
        <div class="top">
          {% for bubble in scene.top %}
          <p class="{{ bubble.type }} {{ bubble.align }} tail-{{ bubble.tail }}">{{ bubble.text | safe }}</p>
          {% endfor %}
        </div>
        <div class="video-area">
          {# ↓↓↓ data-start と data-end 属性を追加 ↓↓↓ #}
          <video id="play-sequential" src="{{ current_video_src }}" playsinline muted {% if scene.start %}data-start="{{ scene.start }}" {%
            endif %} {% if scene.end %}data-end="{{ scene.end }}" {% endif %}>
          </video>
        </div>
        <div class="bottom">
          {% for bubble in scene.bottom %}
          <p class="{{ bubble.type }} {{ bubble.align }} tail-{{ bubble.tail }}">{{ bubble.text | safe }}</p>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </section>

    <section id="data" class="clearfix" style="background: {{keycolor}};">
      <div>

        <h2><img src="{{ ('/images/icon_data.svg') | relative(page) }}"><br />DATA</h2>

        <p>作品番号：{{ work_code }}</p>
        <p>出演女優：
          {% for name in actress %}
          {% set slug = actress_slugs[loop.index0] %}
          <a href="/actress/{{ slug }}/">{{ name }}</a>{% if not loop.last %} {% endif %}
          {% endfor %}
        </p>
        <p>監督：<a href="/director/{{ director_slug }}/">{{ director }}</a></p>
        <p>収録時間：{{ duration }}分</p>
        <p>DVDリリース日：{{ release_date }}</p>
        <p>シチュエーション:
          {% for tag in tags %}
          <a href="/tags/{{ tag }}/">{{ tagsData[tag].name }}</a>
          {% if not loop.last %} {% endif %}
          {% endfor %}
        </p>

      </div>

    </section>

    <section id="review" class="talkcss">

      <h2><img src="{{ ('/images/icon_review.svg') | relative(page) }}"><br />REVIEW</h2>

      {# レビュアーの紹介パート #}
      {% for id, reviewer in review.reviewers %}
      <i class="{{ id }} left icon named introduction"></i>
      <p>{{ reviewer.description }}</p>
      {% endfor %}

      {# 各分析セクションをループ #}
      {% for section in review.sections %}
      <h3>{{ section.title }}</h3>

      {# 各セクション内の対話をループ #}
      {% for chat in section.dialogue %}
      {# speaker ID（例: "judge"）を使って、レビュアーの位置（例: "left"）を取得 #}
      {% set speaker_id = chat.speaker %}
      {% set speaker_position = review.reviewers[speaker_id].position %}

      <i class="{{ speaker_id }} {{ speaker_position }} icon named"></i>
      <p>{{ chat.text | safe }}</p>
      {% endfor %}
      {% endfor %}

    </section>

  </main>

  {% include "backtotop.njk" %}

  <footer id="footer" style="background: {{keycolor}};">
    <ul>
      <li><a href="{{ ('/about/') | relative(page) }}">ABOUT US</a></li>
      <li><a href="{{ ('/privacy/') | relative(page) }}">PRIVACY POLICY</a></li>
    </ul>
    <p><a href="{{ ('/') | relative(page) }}">&copy; HROINE PINK 2025</a></p>
  </footer>

  {% if isLocal %}
    {# ローカル保存用：インライン化 #}
    <script>
        {% include "js/smooth-scroll.js" %}
        {% include "js/scenes.js" %}
        {% include "js/navigation.js" %}
        {% include "js/backtotop.js" %}
        {% include "js/smooth-scroll.js" %}
    </script>
    {% else %}
        {# 開発・Web公開用：外部ファイル #}
        <script src="{{ '/js/smooth-scroll.js' | url }}"></script>
        <script src="{{ '/js/scenes.js' | url }}"></script>
        <script src="{{ '/js/navigation.js' | url }}"></script>
        <script src="{{ '/js/backtotop.js' | url }}"></script>
        <script src="{{ '/js/smooth-scroll.js' | url }}"></script>
  {% endif %}

</body>

</html>