---
layout: base.njk
pagination:
  data: actressesData
  size: 1
  alias: actress
permalink: "/actresses/{{ actress.slug }}/"
---

<section class="actress-page">

  <header class="actresses-header">
    <h1>{{ actress.name }} 作品一覧</h1>
  </header>

  <ul class="item">
    {% for work in collections.works %}
      {% if (work.data | isPublic(publishTarget)) and work.data.actress %}
        {% set actressMatch = false %}
        {% for actressName in work.data.actress %}
          {% if (actressName | getActressSlug) == actress.slug %}
            {% set actressMatch = true %}
          {% endif %}
        {% endfor %}
        {% if actressMatch %}
        <li class="genre-item">
            <a href="{{ work.url | relative(page) }}">
                <div><img src="{{ work.data.keyvisual | relative(page) }}"
                        alt="{{ work.data.title }} {% for name in work.data.actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}主演 特撮ヒロイン作品 {{ work.data.release_date }}" />
                    <h3 class="line">{{ work.data.title }}<br />
                        {{ work.data.work_code }}<br />
                        {% for name in work.data.actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}<br />
                        {{ work.data.release_date }}
                    </h3>
                </div>
            </a>
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

</section>
