---
layout: base.njk
permalink: "/directors/"
---

<section class="directors-index">

  <h1>監督一覧</h1>

  <ul class="genres-grid">

    {% for d in directorsData %}
      {% set count = 0 %}

      {% for work in collections.works %}
        {% if (not work.data.draft)
              and work.data.director
              and ((work.data.director | getDirectorSlug) == d.slug) %}
          {% set count = count + 1 %}
        {% endif %}
      {% endfor %}

      <li>
        <a href="/directors/{{ d.slug }}/">
          <h2>{{ d.name }}（{{ count }}）</h2>
        </a>
      </li>
    {% endfor %}
  </ul>

</section>
