@charset "utf-8";

.comic {
  display: flex;
  flex-wrap: wrap;
  padding: 1vmin;
  font-family: "Yusei Magic", serif;
  font-weight: 100;
}

.panels {
  /* width: 480px; */
  min-width: 360px;
  line-height: 0;

  background-color: #000;
  border: solid 2px #000;
  box-shadow: 0 6px 6px -6px #00000080;
  display: inline-block;
  flex: 1 1;

  margin: 1vmin;
  overflow: hidden;
  position: relative;
}

.top,
.bottom {
  position: relative;
  display: flex;
  background-color: black;
  width: 100%;
  padding: 1em 0;
  container-type: inline-size;
}

.top {
  align-items: flex-end;
}

.bottom {
  align-items: flex-start;
}

.top .speechL,
.top .speechLR,
.top .speechC,
.top .speechCR,
.top .speechR,
.top .speechRR,
.bottom .speechL,
.bottom .speechC,
.bottom .speechR {
  background-color: white;
  padding: 1em;
  margin: 0 1em;
  border-radius: 1.0em;
  display: block;
  width: fit-content;
  line-height: 1em;
}

.top .speechR,
.top .speechRR,
.bottom .speechR {
  margin-left: auto;
}

.top .speechC,
.top .speechCR,
.bottom .speechC {
  margin-left: auto;
  margin-right: auto;
}

.top .speechL:after,
.top .speechLR:after,
.top .speechC:after,
.top .speechCR:after,
.top .speechR:after,
.top .speechRR:after,
.bottom .speechL:after,
.bottom .speechC:after,
.bottom .speechR:after {
  position: absolute;
  border: solid 10px transparent;
  border-left: solid 10px #fff;
  border-top: solid 10px #fff;
  content: "";
  height: 0;
  width: 0;
}

.top .speechL:after, .top .speechLR:after {
  bottom: 0;
  left: 100px;
}
.top .speechL:after {
  transform: skew(50deg);
}
.top .speechLR:after {
  transform: skew(-10deg);
}

.top .speechC:after, .top .speechCR:after {
  bottom: 0;
  left: 50%;
}
.top .speechC:after {
  transform: skew(50deg);
}
.top .speechCR:after {
  transform: skew(-10deg);
}

.top .speechR:after, .top .speechRR:after {
  bottom: 0;
  right: 100px;
}
.top .speechR:after {
  transform: skew(-10deg);
}
.top .speechRR:after {
  transform: skew(45deg);
}

.bottom .speechL:after {
  top: 10px;
  left: 100px;
  transform: skewY(50deg);
}

.bottom .speechC:after {
  top: 10px;
  left: 50%;
  transform: skewY(50deg);
}

.bottom .speechR:after {
  top: 10px;
  right: 100px;
  transform: skewY(50deg);
}

.top .speechNL,
.top .speechNC,
.top .speechNR,
.bottom .speechNL,
.bottom .speechNC,
.bottom .speechNR {
  background-color: white;
  padding: 1em;
  margin: 0 1em;
  border-radius: 1.0em;
  display: block;
  width: fit-content;
  line-height: 1em;
}

.top .speechNR,
.bottom .speechNR {
  margin-left: auto;
}

.top .speechNC {
  margin-left: auto;
  margin-right: auto;
}

.top .speechNL:after,
.top .speechNR:after,
.bottom .speechNL:after,
.bottom .speechNR:after {
  display: none;
}

.top .thinkL,
.top .thinkC,
.top .thinkR,
.bottom .thinkL,
.bottom .thinkC,
.bottom .thinkR {
  background-color: white;
  padding: 1em;
  margin: 0 1em;
  border-radius: 3em;
  display: block;
  width: fit-content;
  line-height: 1em;
  color: #555;
}

.top .thinkR,
.bottom .thinkR {
  margin-left: auto;
}

.top .thinkC,
.bottom .thinkC {
  margin-left: auto;
  margin-right: auto;
}

.top .thinkL:after,
.top .thinkC:after,
.top .thinkR:after,
.bottom .thinkL:after,
.bottom .thinkC:after,
.bottom .thinkR:after {
  position: absolute;
  color: #FFF;
  font-size: 23.2px;
  bottom: 65px;
  content: "●";
  height: 0;
  right: 57px;
  transform: scale(1.45, 0.9);
  width: 0;
}

.top .thinkL:after {
  bottom: 18px;
  left: 100px;
  transform: skew(0deg);
}

.top .thinkC:after {
  bottom: 18px;
  left: 50%;
  transform: skew(0deg);
}

.top .thinkR:after {
  bottom: 18px;
  right: 100px;
  transform: skew(0deg);
}

.bottom .thinkL:after {
  top: -1px;
  left: 100px;
  transform: skew(0deg);
}

.bottom .thinkC:after {
  top: -1px;
  left: 50%;
  transform: skew(0deg);
}

.bottom .thinkR:after {
  top: -1px;
  right: 100px;
  transform: skew(0deg);
}

.top .effectL,
.top .effectR,
.bottom .effectL,
.bottom .effectR {
  font-family: "Reggae One", system-ui;
  font-size: 8cqw;
  color: #000;
  text-shadow: 0.5cqw 0.5cqw 0px #FFF;
  font-style: italic;
  display: block;
  position: absolute;
  z-index: 3;
  line-height: 1em;
}

.top .effectL,
.top .effectR {
  top: -6cqw;
}

.top .effectR,
.bottom .effectR {
  right: 0;
}

.top .effectL,
.bottom .effectL {
  left: 0;
}

.bottom .effectL,
.bottom .effectR {
  bottom: 0;
}
