@charset "utf-8";

body { /* フッターを下部に固定 */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  width: 100%;
  display: block;
  margin-top: auto; /* フッターを下部に固定 */
}

#footer ul {
  display: blocks;
  margin: 0;
  padding: 0;
  height: 2.4em;
  background-color: rgb(255, 255, 255, 0.15);

}

#footer ul li {
  float: left;
  width: 50%;
  font-family: "M PLUS 1p";
  font-size: 12px;
  text-align: center;
  list-style: none;
  line-height: 42px;
  padding: 0;
}

#footer p {
  display: block;
  margin: 0;
  padding: 0;
  height: 5.2em;
  line-height: 4.2em;
  font-family: "M PLUS 1p";
  font-size: 1.001em;
  text-align: center;
}

#footer ul li a:link,
#footer ul li a:visited,
#footer p a:link,
#footer p a:visited {
  color: #000;
}

#footer.base ul li a:link,
#footer.base ul li a:visited,
#footer.base p a:link,
#footer.base p a:visited {
  color: #FFF;
}

#footer ul li a:hover,
#footer p a:hover {
  text-decoration: none;
}