---
layout: base.njk
pagination:
  data: genresData
  size: 1
  alias: genre
permalink: "/genres/{{ genre.slug }}/"
---

<section class="genre-page">

  <header class="genre-header">
    <h1>{{ genre.name }} 作品一覧</h1>
    {% if genre.description %}
      <p class="genre-description">{{ genre.description }}</p>
    {% endif %}
  </header>

  <ul class="item">
    {% set sortedWorks = collections.works | sort(false, false, "data.release_date") | reverse %}
    {% for work in sortedWorks %}
    {% if (work.data | isPublic(publishTarget))
      and work.data.genres
      and (genre.slug in work.data.genres) %}
        <li class="genre-item">
            <a href="{{ work.url | relative(page) }}">
                <div><img src="{{ work.data.keyvisual | toWebp('thumb') | relative(page) }}"
                        alt="{{ work.data.title }} {% for name in work.data.actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}主演 特撮ヒロイン作品 {{ work.data.release_date }}" />
                    <h3 class="line">{{ work.data.title }}<br />
                        {{ work.data.work_code }}<br />
                        {% for name in work.data.actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}<br />
                        {{ work.data.release_date }}
                    </h3>
                </div>
            </a>
        </li>

      {% endif %}
    {% endfor %}
  </ul>

</section>
