---
layout: "base.njk"
title: "HEROINE PINK 対ヒロイン研究分析機関｜魔法少女・セーラー・レンジャー・アメコミ・バトルスーツ・特撮ヒロイン作品紹介"
# title: "TANITA"
---

<h2 class="index">作品一覧</h2>

<ul class="item">
{% set sortedWorks = collections.works | sort(false, false, "data.release_date") | reverse %}

{% for work in sortedWorks %}
    {% if work.data | isPublic(publishTarget) %}
        <li>
            {# 1. リンク先を相対パスにする #}
            <a href="{{ work.url | relative(page) }}">
                <div>
                    {# 2. 画像パスを相対パスにする #}
                    <img src="{{ work.data.keyvisual | relative(page) }}"
                         alt="{{ work.data.title }} {% for name in work.data.actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}主演 特撮ヒロイン作品 {{ work.data.release_date }}" />
                    
                    <h3 class="line">{{ work.data.title }}<br />
                        {{ work.data.work_code }}<br />
                        {% for name in work.data.actress %}{{ name }}{% if not loop.last %} {% endif %}{% endfor %}<br />
                        {{ work.data.release_date }}
                    </h3>
                </div>
            </a>
        </li>
    {% endif %}
{% endfor %}
</ul>