---
permalink: "/sitemap.xml"
layout: null
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% set base = site.url | trimEnd('/') %}
{% for page in collections.all %}
	{% if page.url and (page.data | isPublic(publishTarget)) and page.outputPath and page.outputPath.endsWith('.html') %}
		{% set loc = (base + page.url) %}
		<url>
			<loc>{{ loc | safe }}</loc>
			{% if page.date %}<lastmod>{{ page.date.toISOString().slice(0,10) }}</lastmod>{% endif %}
		</url>
	{% endif %}
{% endfor %}
</urlset>
